body {
	font-family: "Lato", sans-serif;
	color: #747784;
	font-weight: 300;	
}


img {
	margin: 0 auto;
}


a {
	font-size: 20px;
}


.text-thin {
	font-weight: 100;
}


.text-muted {
	color: #bcbbbb;
}


.title-super {
	font-size: 60px;
}


.title-logo {
	margin-top: 20px;
	width: 15%;
}


.banner {
	margin: 20px auto 0 auto;
}


.portfolio-footer {
	margin: 20px auto;
}


.article-section {
	font-size: 40px;
}


.article-description {
	font-size: 20px;
}